# import libraries and globals

In [1]:
import pandas as pd

# import and merge 2015 & 2022 leader tables

In [2]:
## 2022 leaders - table - file in
file_2022_leaders_table = "../../data/2022 data/2022 data - 2 tables/leaders.csv"

In [3]:
## 2015 leaders - cleaned - file in
file_2015_leaders_cleaned = "../../data/2015 data/2015 data - 1 cleaning/NK elite old checklist.xlsx"

In [4]:
## 9999 leaders - to clean - file out
file_9999_leaders_toclean = "../../data/9999 combined data/9999 data - 1 cleaning/leaders_toparse.csv"

In [13]:
# import 2022 table leaders
new_leaders = pd.read_csv(file_2022_leaders_table,dtype="str")

In [14]:
#list(new_leaders.columns)
new_leaders_change = ["Name","NameAlternative","CurrentPositionString","BirthDateString","BirthPlaceString","DeathString"]
new_leaders_new_columns = [item+"_2022" if item in new_leaders_change else item for item in list(new_leaders.columns)]
new_leaders.columns = new_leaders_new_columns
new_leaders

,LeaderID,Name_2022,NameAlternative_2022,CurrentPositionString_2022,Sex,BirthDateString_2022,BirthPlaceString_2022,DeathReported,DeathString_2022
0,강관주,강관주,NaN,NaN,남성,1930년 07월 05일,평안남도 대동군,NaN,연도미상
1,강능수,강능수,NaN,(사망) 당 중앙위원회 위원,남성,1930년 02월 21일,평양시,(사망),2015년 07월 01일
2,강동윤,강동윤,NaN,당 중앙위원회 부부장,남성,연도미상,NaN,NaN,연도미상
3,강련학,강련학,강연학,(사망) 민족화해협의회 부회장,남성,연도미상,NaN,(사망),2016년 10월 01일
4,강명철,강명철,NaN,조선그리스도교연맹 중앙위원회 위원장,남성,연도미상,NaN,NaN,연도미상
...,...,...,...,...,...,...,...,...,...
600,황병서,황병서,NaN,인민군 차수,남성,1949년,NaN,NaN,연도미상
601,황봉영,황봉영,NaN,조선올림픽위원회 부위원장,남성,1944년 08월 15일,NaN,NaN,연도미상
602,황순희,황순희,NaN,(사망) 조선혁명박물관 관장,여성,1919년 05월 03일,북한지역외 중국,(사망),2020년 01월 17일
603,황철식,황철식,NaN,NaN,미상,연도미상,NaN,NaN,연도미상
604,황학원,황학원,NaN,NaN,남성,1941년 01월 01일,NaN,NaN,연도미상

In [15]:
old_leaders = pd.read_excel(file_2015_leaders_cleaned,dtype="str")

In [16]:
# list(old_leaders.columns)
old_leaders_change = ["MOUID","KoreanName","BirthString","DeathString"]
old_leaders_new_columns = [item+"_2015" if item in old_leaders_change else item for item in list(old_leaders.columns)]
#old_leaders_new_columns
old_leaders.columns = old_leaders_new_columns
old_leaders

,MOUID_2015,LeaderID,KoreanName_2015,BirthString_2015,DeathString_2015,BirthYear,BirthCountry,BirthCP,BirthBCC
0,102,장성택,장성택,1946.1.22 함북 청진시,NaN,1946,한반도,함북,청진시
1,103,윤기정,윤기정,NaN,NaN,NaN,NaN,NaN,NaN
2,104,장성길,장성길,"1939.1.13, 평양","820전차군단 정치위원, 인민군 중장",1939,한반도,평양,NaN
3,105,원응희,원응희,1939년생(1936년說),"보위사령관, 인민군 대장, 당 중앙위 위원",1939,NaN,NaN,NaN
4,106,주규창,주규창,1928.11.25 함남 함주군,NaN,1928,한반도,함남,함주군
...,...,...,...,...,...,...,...,...,...
379,803,전창복,전창복,NaN,NaN,NaN,NaN,NaN,NaN
380,804,조연준,조연준,1937.9.28 함경남도 고원군,NaN,1937,한반도,함남,고원군
381,805,최광래,최광래,1944년생,NaN,1944,NaN,NaN,NaN
382,806,최광진,최광진,NaN,NaN,NaN,NaN,NaN,NaN
383,807,강관주,강관주,1930.7.5 평남 대동군,NaN,1930,한반도,평남,대동군

In [17]:
# define merged dataframe
#merge_columns = ["LeaderID","Name","Sex","BirthYear","BirthCountry","BirthCP","BirthBCC","DeathReported","BirthString2015","BirthDateString2022","BirthPlaceString2022","CurrentPositionString2022","DeathString"]
#merge_leaders = pd.DataFrame(columns=merge_columns)
merge_leaders = new_leaders.merge(old_leaders,on="LeaderID",how="outer")

In [18]:
merge_leaders

,LeaderID,Name_2022,NameAlternative_2022,CurrentPositionString_2022,Sex,BirthDateString_2022,BirthPlaceString_2022,DeathReported,DeathString_2022,MOUID_2015,KoreanName_2015,BirthString_2015,DeathString_2015,BirthYear,BirthCountry,BirthCP,BirthBCC
0,강관주,강관주,NaN,NaN,남성,1930년 07월 05일,평안남도 대동군,NaN,연도미상,807,강관주,1930.7.5 평남 대동군,NaN,1930,한반도,평남,대동군
1,강능수,강능수,NaN,(사망) 당 중앙위원회 위원,남성,1930년 02월 21일,평양시,(사망),2015년 07월 01일,430,강능수,1930.2.21 평양,NaN,1930,한반도,평양,NaN
2,강동윤,강동윤,NaN,당 중앙위원회 부부장,남성,연도미상,NaN,NaN,연도미상,153,강동윤,NaN,NaN,NaN,NaN,NaN,NaN
3,강련학,강련학,강연학,(사망) 민족화해협의회 부회장,남성,연도미상,NaN,(사망),2016년 10월 01일,542,강련학,1932년생,NaN,1932,NaN,NaN,NaN
4,강명철,강명철,NaN,조선그리스도교연맹 중앙위원회 위원장,남성,연도미상,NaN,NaN,연도미상,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,오광철,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,705,오광철,1959.6.15,NaN,1959,NaN,NaN,NaN
664,오길방,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,706,오길방,1936년생,NaN,1936,NaN,NaN,NaN
665,우두태,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,707,우두태,"1940년생, 강원 고성",NaN,1940,한반도,강원,고성
666,이공필,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,709,이공필,NaN,NaN,NaN,NaN,NaN,NaN
667,이금범,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,711,이금범,1941.1.3,NaN,1941,NaN,NaN,NaN

In [19]:
# confirm that names are identical for leaders overlapping in 2015 and 2022
merge_leaders[merge_leaders["KoreanName_2015"].notnull() & merge_leaders["Name_2022"].notnull() & (merge_leaders.KoreanName_2015!=merge_leaders.Name_2022)]

Empty DataFrame
Columns: [LeaderID, Name_2022, NameAlternative_2022, CurrentPositionString_2022, Sex, BirthDateString_2022, BirthPlaceString_2022, DeathReported, DeathString_2022, MOUID_2015, KoreanName_2015, BirthString_2015, DeathString_2015, BirthYear, BirthCountry, BirthCP, BirthBCC]
Index: []

In [20]:
# consolidate Name field
merge_leaders["Name"] = merge_leaders["KoreanName_2015"]
merge_leaders.loc[merge_leaders.KoreanName_2015.isnull(),"Name"] = merge_leaders["Name_2022"]

In [21]:
# rearrange column names
rearranged_column_names = ["LeaderID","Name","Sex","BirthYear","BirthCountry","BirthCP","BirthBCC","DeathReported","MOUID_2015","KoreanName_2015","Name_2022","NameAlternative_2022","BirthString_2015","BirthDateString_2022","BirthPlaceString_2022","DeathString_2015","DeathString_2022"]
merge_leaders = merge_leaders[rearranged_column_names]
merge_leaders

,LeaderID,Name,Sex,BirthYear,BirthCountry,BirthCP,BirthBCC,DeathReported,MOUID_2015,KoreanName_2015,Name_2022,NameAlternative_2022,BirthString_2015,BirthDateString_2022,BirthPlaceString_2022,DeathString_2015,DeathString_2022
0,강관주,강관주,남성,1930,한반도,평남,대동군,NaN,807,강관주,강관주,NaN,1930.7.5 평남 대동군,1930년 07월 05일,평안남도 대동군,NaN,연도미상
1,강능수,강능수,남성,1930,한반도,평양,NaN,(사망),430,강능수,강능수,NaN,1930.2.21 평양,1930년 02월 21일,평양시,NaN,2015년 07월 01일
2,강동윤,강동윤,남성,NaN,NaN,NaN,NaN,NaN,153,강동윤,강동윤,NaN,NaN,연도미상,NaN,NaN,연도미상
3,강련학,강련학,남성,1932,NaN,NaN,NaN,(사망),542,강련학,강련학,강연학,1932년생,연도미상,NaN,NaN,2016년 10월 01일
4,강명철,강명철,남성,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강명철,NaN,NaN,연도미상,NaN,NaN,연도미상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,오광철,오광철,NaN,1959,NaN,NaN,NaN,NaN,705,오광철,NaN,NaN,1959.6.15,NaN,NaN,NaN,NaN
664,오길방,오길방,NaN,1936,NaN,NaN,NaN,NaN,706,오길방,NaN,NaN,1936년생,NaN,NaN,NaN,NaN
665,우두태,우두태,NaN,1940,한반도,강원,고성,NaN,707,우두태,NaN,NaN,"1940년생, 강원 고성",NaN,NaN,NaN,NaN
666,이공필,이공필,NaN,NaN,NaN,NaN,NaN,NaN,709,이공필,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,이금범,이금범,NaN,1941,NaN,NaN,NaN,NaN,711,이금범,NaN,NaN,1941.1.3,NaN,NaN,NaN,NaN

In [22]:
merge_leaders[["Name","KoreanName_2015","Name_2022"]]

    Name KoreanName_2015 Name_2022
0    강관주             강관주       강관주
1    강능수             강능수       강능수
2    강동윤             강동윤       강동윤
3    강련학             강련학       강련학
4    강명철             NaN       강명철
..   ...             ...       ...
663  오광철             오광철       NaN
664  오길방             오길방       NaN
665  우두태             우두태       NaN
666  이공필             이공필       NaN
667  이금범             이금범       NaN

[668 rows x 3 columns]

# export merged leader table

In [23]:
merge_leaders.to_csv(file_9999_leaders_toclean,index=False)