In [1]:
import pandas as pd
import numpy as np
from datetime import date

# combined data - 2 tables

In [2]:
path_tables = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 2 tables/"

In [3]:
filename_careers = "careers.xlsx"
careers = pd.read_excel(path_tables + filename_careers,dtype="str")
careers.shape

(9001, 12)

In [4]:
careers.columns

Index(['CareerString', 'CareerDateString_2022', 'IsJob', 'MultipleSubstrings',
       'CareerStartYear', 'CareerStartMonth', 'CareerSubstring', 'OrgString',
       'PrimaryInstitution', 'OrgName', 'Position', 'Notes'],
      dtype='object')

In [5]:
filename_orgtree = "orgtree.xlsx"
ot = pd.read_excel(path_tables + filename_orgtree,dtype="str")
ot.shape

(1742, 9)

In [6]:
filename_leadercareerlink = "leadercareerlink.xlsx"
lclink = pd.read_excel(path_tables + filename_leadercareerlink,dtype="str")
lclink.shape

(12617, 3)

In [7]:
filename_pop = "pi_org_pos.xlsx"
pop = pd.read_excel(path_tables + filename_pop,dtype="str")
pop.shape

(2611, 7)

In [8]:
# filename_leaderjoblink = "leaderjoblink.xlsx"

In [9]:
# filename_joborglink = "joborglink.xlsx"

# combined data - 3 queries

In [10]:
path_queries = "C:/Users/seoul/Dropbox/00 technical/github/nkelites/data/combined data/combined data - 3 queries/"

In [11]:
filename_leaderjobtransition = "leaderjobtransition.xlsx"
# ljt = pd.read_excel(path_queries + filename_leaderjobtransition,dtype="str")

In [12]:
today = date.today()
print(today)

2023-07-20

# functions

In [13]:
def merge_results(m):
    
    print("\nMerge Results...")
    print("")
    print("\tshape     :",m.shape)
    print("\tleft_only :",m[m["_merge"]=="left_only"].shape)
    print("\tboth      :",m[m["_merge"]=="both"].shape)
    print("\tright_only:",m[m["_merge"]=="right_only"].shape)

In [14]:
# using this on (PI,OrgName) will ensure unique & non-null keys
# using this on a larger df will ensure unique rows and non-null keys, but not unique keys

def unique_non_null_rows(olddf):
    
    df = olddf.copy()
    
    
    ### drop duplicates
    df = df.drop_duplicates(keep="first",ignore_index=True)

    ### drop null rows
    df.dropna(how="all",axis=0,inplace=True)
    
    # drop rows with null PI
    df = df[~(df["PrimaryInstitution"].isna())]
        
    ### drop rows where PI contains stop words
    stop_words_lower = ["uncertain","current","deprecated","please_revise"]
    df = df[ ~ df["PrimaryInstitution"].str.lower().isin(stop_words_lower)]
            

    print("\nUnique Non-null Rows...")
    print("")
    print("\tNon-unique rows:",olddf.shape)
    print("\tUnique rows    :",df.shape)

    ### sort
    df = df.sort_values(["PrimaryInstitution","OrgName"])
    
    return df

# 0. prepare pop table: ElectedPositions, PositionHierarchy, OrgHierarchy

### Elected Postions from PI-OrgName-Position

In [15]:
key_columns = ["PrimaryInstitution","OrgName"]
keyorg = ot[key_columns].drop_duplicates(keep="first")
keyorg.shape

(1742, 2)

In [16]:
keyorg = unique_non_null_rows(keyorg)

Unique Non-null Rows...

	Non-unique rows: (1742, 2)
	Unique rows    : (1742, 2)

In [17]:
jobs = careers[(careers["IsJob"]=="True") & (careers["CareerStartYear"].notna())]

In [18]:
key_columns2 = ["PrimaryInstitution","OrgName","Position"]
keyjobs = jobs[key_columns2].drop_duplicates(keep="first")
keyjobs.shape

(1954, 3)

In [19]:
keyjobs = unique_non_null_rows(keyjobs)

Unique Non-null Rows...

	Non-unique rows: (1954, 3)
	Unique rows    : (1902, 3)

In [20]:
pop_pre = keyorg.merge(keyjobs,how="outer",on=key_columns,indicator=True)
pop_pre.shape

(2626, 4)

In [21]:
merge_results(pop_pre)

Merge Results...

	shape     : (2626, 4)
	left_only : (724, 4)
	both      : (1902, 4)
	right_only: (0, 4)

In [22]:
pop_pre[pop_pre["_merge"]=="left_only"]

          PrimaryInstitution       OrgName Position     _merge
3     6.15공동선언실천남북공동위원회북측위원회         교직원분과      NaN  left_only
4     6.15공동선언실천남북공동위원회북측위원회         노동자분과      NaN  left_only
5     6.15공동선언실천남북공동위원회북측위원회       농업근로자분과      NaN  left_only
6     6.15공동선언실천남북공동위원회북측위원회        문학예술분과      NaN  left_only
7     6.15공동선언실천남북공동위원회북측위원회          보건분과      NaN  left_only
...                      ...           ...      ...        ...
2606                   호위사령부  호위총국_평양경비사령부      NaN  left_only
2613                  화학공업협회           NaN      NaN  left_only
2615                   활쏘기협회           NaN      NaN  left_only
2621     흥남가스화건설장함경남도지구계획위원회           NaN      NaN  left_only
2623                  희천기계공장           NaN      NaN  left_only

[724 rows x 4 columns]

In [23]:
pop_pre["IsElected"]=np.nan
pop_pre["PositionRank"]=np.nan
pop_pre["OrgRank"]=np.nan

In [24]:
# populate PositionRank

In [25]:
# populate OrgRank

In [26]:
# pop_pre.to_excel(path_tables + "pi_org_pos.xlsx",index=False)

# 1. evaluate pop table: ElectedPositions, PositionHierarchy, OrgHierarchy

In [27]:
pop.shape

(2611, 7)

In [34]:
position_list = pop["Position"].drop_duplicates().to_frame()
type(position_list)

pandas.core.frame.DataFrame

In [38]:
position_list.sort_values("Position",inplace=True,ignore_index=True)
position_list

     Position
0        10국장
1       1등서기관
2        1부국장
3         1비서
4        2군단장
..        ...
290     후방총국장
291        후보
292      후보위원
293  후보위원(보선)
294       NaN

[295 rows x 1 columns]

In [39]:
position_list.to_excel(path_tables + "position_list.xlsx",index=False)

### PositionHierarchy

### OrgTransition Hierarchy

# 1. deprecate old version

In [25]:
table_name = "leaderjobtransition"
table_name

'leaderjobtransition'

In [26]:
filename_leaderjobtransition

'leaderjobtransition.xlsx'

In [27]:
filename_deprecated = table_name + "_deprecated_"+str(today)+".xlsx"
filename_deprecated

'leaderjobtransition_deprecated_2023-07-19.xlsx'

In [28]:
# deprecate old query
# oldtable = pd.read_excel(path_queries + filename_careers,dtype="str")
# oldtable.to_excel(path_queries + filename_deprecated,index=False)

# 2. select on careers: IsJob=True, remove elected positions

In [116]:
# get jobs from careers
jobs = careers[(careers["IsJob"]=="True") & (careers["CareerStartYear"].notna())]

In [117]:
jobs.shape

(6397, 12)

In [118]:
# remove elected positions
key_columns = ["PrimaryInstitution","OrgName","Position"]
jobs = jobs.merge(pop,on=key_columns,how="left")
jobs.shape

(6397, 16)

In [127]:
jobs.drop(columns=["_merge"],inplace=True)

In [128]:
jobs.head(5)

,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PrimaryInstitution,OrgName,Position,Notes,IsElected,PositionRank,OrgRank
0,노동성 상(유임),1999.02,True,1,1999,2,NaN,노동성,내각,노동성,상,NaN,NaN,NaN,NaN
3,인민무력부 작전국 국장,1975,True,1,1975,NaN,NaN,인민무력부 작전국,정무원,인민무력부A_작전국,국장,NaN,NaN,NaN,NaN
11,｢근로자｣사 부주필,1972.04,True,1,1972,4,NaN,｢근로자｣사,노동당,당중앙위원회_선전선동부_근로자사,부주필,NaN,NaN,NaN,NaN
12,｢근로자｣사 책임주필,1974.12,True,1,1974,12,NaN,｢근로자｣사,노동당,당중앙위원회_선전선동부_근로자사,책임주필,NaN,NaN,NaN,NaN
13,｢민족화해협의회｣ 부회장,1999.10,True,1,1999,10,NaN,｢민족화해협의회｣,민족화해협의회,NaN,부회장,NaN,NaN,NaN,NaN

In [129]:
jobs.IsElected.unique()

array([nan], dtype=object)

In [130]:
jobs = jobs[jobs["IsElected"].isna()]
jobs.shape

(4753, 15)

# 3. merge leadercareerlink & careers tables

In [131]:
lclink.head(2)

  LeaderID                CareerString CareerDateString_2022
0      리선권   개성공단 남북공동위원회 통행통신통관 분과위원회     2013.09 ~ 2014.01
1      조경철            故 김정일 국가장의위원회 위원               2011.12

In [132]:
# leader-job query - left join - includes IsJob True & False
key_columns = ["CareerString","CareerDateString_2022"]
lc = lclink.merge(jobs,on=key_columns,how="left",indicator=True)
lc.shape

(12883, 17)

In [134]:
merge_results(lc)

Merge Results...

	shape     : (12883, 17)
	left_only : (7968, 17)
	both      : (4915, 17)
	right_only: (0, 17)

In [136]:
# no "left-only" cases when IsJob=True
lc[(lc["IsJob"]=="True") & (lc["_merge"]=="left_only")]

Empty DataFrame
Columns: [LeaderID, CareerString, CareerDateString_2022, IsJob, MultipleSubstrings, CareerStartYear, CareerStartMonth, CareerSubstring, OrgString, PrimaryInstitution, OrgName, Position, Notes, IsElected, PositionRank, OrgRank, _merge]
Index: []

In [138]:
# leader-job query - inner join - only includes IsJob = True
key_columns = ["CareerString","CareerDateString_2022"]
lc = lclink.merge(jobs,on=key_columns,how="inner",indicator=False)
lc = lc.sort_values("LeaderID",ignore_index=True)
lc.shape

(4915, 16)

In [139]:
# instantiate CareerStartDate
lc["CareerStartDate"]=np.nan
lc.loc[lc["CareerStartMonth"].isna(),"CareerStartDate"] = lc[lc["CareerStartMonth"].isna()].apply(lambda x: str(x["CareerStartYear"]) + "00",axis=1)
lc.loc[(lc["CareerStartMonth"].notna()) & (lc.apply(lambda x: len(str(x["CareerStartMonth"])),axis=1)==2),"CareerStartDate"] = lc[(lc["CareerStartMonth"].notna()) & (lc.apply(lambda x: len(str(x["CareerStartMonth"])),axis=1)==2)].apply(lambda x: str(x["CareerStartYear"]) + str(x["CareerStartMonth"]),axis=1)
lc.loc[(lc["CareerStartMonth"].notna()) & (lc.apply(lambda x: len(str(x["CareerStartMonth"])),axis=1)==1),"CareerStartDate"] = lc[(lc["CareerStartMonth"].notna()) & (lc.apply(lambda x: len(str(x["CareerStartMonth"])),axis=1)==1)].apply(lambda x: str(x["CareerStartYear"]) + "0" + str(x["CareerStartMonth"]),axis=1)

In [140]:
lc.shape

(4915, 17)

In [141]:
pd.set_option('display.max_rows', None)

In [142]:
choigo = lc[lc["PrimaryInstitution"]=="최고인민회의"]
po_columns = ["PrimaryInstitution","OrgName","Position"]
choigo[po_columns].drop_duplicates(po_columns,keep="first").sort_values(po_columns)

     PrimaryInstitution               OrgName Position
256              최고인민회의               법안심의위원회       원장
980              최고인민회의                 상임위원회   명예부위원장
590              최고인민회의                 상임위원회       참사
1396             최고인민회의                 상임위원회     책임주필
1390             최고인민회의           상임위원회_민주조선사     책임주필
927              최고인민회의               외교분과위원회       고문
4683             최고인민회의                 외교위원회     자문위원
4392             최고인민회의                 중앙검찰소        장
660              최고인민회의                 중앙재판소   중앙재판소장
667              최고인민회의                 최고재판소   최고재판소장
2326             최고인민회의               통일정책위원회     책임참사
77               최고인민회의             평안남도인민위원회     내무국장
1648             최고인민회의             평안북도인민위원회    인민위원장
3628             최고인민회의              평양시인민위원회    건설총국장
1199             최고인민회의        평양시인민위원회_건설지도국       국장
4097             최고인민회의    평양시인민위원회_력포구역인민위원회      지도원
2968             최고인민회의  함경남도인민위원회_먼바다어업연합기업소     책임비서
4680             최고인민회의    함경북도인민위원회_청진시인민위원회    인민위원장
172              최고인민회의             황해북도인민위원회      위원장
1811             최고인민회의             황해북도인민위원회    인민위원장
4476             최고인민회의                   NaN        대
25               최고인민회의                   NaN      대위원

In [144]:
# remove 최고인민회의
# lc = lc[~((lc["PrimaryInstitution"]=="최고인민회의") & (lc["OrgName"].isna()))]
lc.shape

(4915, 17)

In [147]:
# remove 노동당, 당중앙위원회
# lc = lc[~((lc["PrimaryInstitution"]=="노동당") & (lc["OrgName"]=="당중앙위원회"))]
lc.shape

(4915, 17)

In [148]:
t = lc[(lc["LeaderID"]=="강관주") & (lc["CareerStartYear"].notna())]
t = t.drop_duplicates(["CareerStartYear","PrimaryInstitution","OrgName"],keep="first")
t = t.sort_values("CareerStartDate",ignore_index=True)
t.shape

(17, 17)

In [149]:
t

,LeaderID,CareerString,CareerDateString_2022,IsJob,MultipleSubstrings,CareerStartYear,CareerStartMonth,CareerSubstring,OrgString,PrimaryInstitution,OrgName,Position,Notes,IsElected,PositionRank,OrgRank,CareerStartDate
0,강관주,1961. 체육과학연구소 연구원,NaN,True,1,1961,NaN,NaN,체육과학연구소,체육연구원,체육과학연구소,연구원,NaN,NaN,NaN,NaN,196100
1,강관주,"1973. 만경대예술단 섭외부 부부장, 당 문화부 과장",NaN,True,2,1973,NaN,만경대예술단 섭외부 부부장,만경대예술단 섭외부,평양만경대예술단,섭외부,부부장,NaN,NaN,NaN,NaN,197300
2,강관주,"1973. 만경대예술단 섭외부 부부장, 당 문화부 과장",NaN,True,2,1973,NaN,당 문화부 과장,당 문화부,노동당,문화예술부,과장,NaN,NaN,NaN,NaN,197300
3,강관주,1975. 5 대외문화연락협회 국장,NaN,True,1,1975,5,NaN,대외문화연락협회,조선대외문화연락협회,NaN,국장,NaN,NaN,NaN,NaN,197505
4,강관주,1986. 당 조직지도부 부부장,NaN,True,1,1986,NaN,NaN,노동당 조직지도부,노동당,당중앙위원회_조직지도부,부부장,NaN,NaN,NaN,NaN,198600
5,강관주,1988. 당 통일전선부 #조총련# 담당 부부장,NaN,True,1,1988,NaN,NaN,노동당 중앙위원회 통일전선부,노동당,당중앙위원회_통일전선부_문화교류국,부부장,NaN,NaN,NaN,NaN,198800
6,강관주,조선노동당 통일전선부 조선인총연합회 담당 부부장,1988,True,1,1988,NaN,NaN,조선노동당 통일전선부,노동당,당중앙위원회_통일전선부,부부장,NaN,NaN,NaN,NaN,198800
7,강관주,조선노동당 통일전선부 제1부부장,1989.03,True,1,1989,3,NaN,조선노동당 통일전선부 제1부,노동당,당중앙위원회_통일전선부,부장,NaN,NaN,NaN,NaN,198903
8,강관주,조국평화통일위원회 부위원장,1990.08,True,1,1990,8,NaN,조국통일평화위원회,정무원,조국평화통일위원회,부위원장,NaN,NaN,NaN,NaN,199008
9,강관주,1990. 8 조국평화통일위원회 부위원장,NaN,True,1,1990,8,NaN,조국평화통일위원회,내각,조국평화통일위원회,부위원장,NaN,NaN,NaN,NaN,199008
10,강관주,1991. 9 보천보전자악단 고문,NaN,True,1,1991,9,NaN,보전보전자악단,보천보전자악단,NaN,고문,NaN,NaN,NaN,NaN,199109
11,강관주,조선노동당 통일전선부 부장,1993.01,True,1,1993,1,NaN,조선노동당 통일전선부,노동당,당중앙위원회_통일전선부,부장,NaN,NaN,NaN,NaN,199301
12,강관주,1993. 1 당 통일전선부 부장,NaN,True,1,1993,1,NaN,노동당 중앙위원회 통일전선부,노동당,당중앙위원회_통일전선부_문화교류국,부장,NaN,NaN,NaN,NaN,199301
13,강관주,1993.10 해외동포원호위원회 위원장,NaN,True,1,1993,10,NaN,해외동포원호위원회,조선해외동포원호위원회,NaN,위원장,NaN,NaN,NaN,NaN,199310
14,강관주,1997. 2 당 대외연락부(舊 사회문화부) 부장,NaN,True,1,1997,2,NaN,노동당 대외연락부 사회문화부,노동당,당중앙위원회_대외연락부_사회문화부,부장,NaN,NaN,NaN,NaN,199702
15,강관주,조선노동당 대외연락부(구 사회문화부) 부장,1997.02,True,1,1997,2,NaN,조선노동당 대외연락부,노동당,당중앙위원회_대외연락부,부장,NaN,NaN,NaN,NaN,199702
16,강관주,2009. 내각 225국 국장,NaN,True,1,2009,NaN,NaN,내각 225국,내각,225국,국장,NaN,NaN,NaN,NaN,200900

In [150]:
tr = t.merge(t,on="LeaderID",how="inner",suffixes=("_1","_2"))

In [151]:
# sort based on CareerStartDates
tr = tr.sort_values(["CareerStartDate_1","CareerStartDate_2"])
tr.shape

(289, 33)

In [152]:
# drop keys where CareerStartDate_1 <= CareerStartDate_2
tr = tr[tr.apply(lambda x: x["CareerStartDate_1"] < x["CareerStartDate_2"],axis=1)]
tr.shape

(131, 33)

In [153]:
# smallest next startdate
dates = tr[["CareerStartDate_1","CareerStartDate_2"]]

In [154]:
dates

    CareerStartDate_1 CareerStartDate_2
1              196100            197300
2              196100            197300
3              196100            197505
4              196100            198600
5              196100            198800
6              196100            198800
7              196100            198903
8              196100            199008
9              196100            199008
10             196100            199109
11             196100            199301
12             196100            199301
13             196100            199310
14             196100            199702
15             196100            199702
16             196100            200900
20             197300            197505
37             197300            197505
21             197300            198600
38             197300            198600
22             197300            198800
23             197300            198800
39             197300            198800
40             197300            198800
24             197300            198903
41             197300            198903
25             197300            199008
26             197300            199008
42             197300            199008
43             197300            199008
27             197300            199109
44             197300            199109
28             197300            199301
29             197300            199301
45             197300            199301
46             197300            199301
30             197300            199310
47             197300            199310
31             197300            199702
32             197300            199702
48             197300            199702
49             197300            199702
33             197300            200900
50             197300            200900
55             197505            198600
56             197505            198800
57             197505            198800
58             197505            198903
59             197505            199008
60             197505            199008
61             197505            199109
62             197505            199301
63             197505            199301
64             197505            199310
65             197505            199702
66             197505            199702
67             197505            200900
73             198600            198800
74             198600            198800
75             198600            198903
76             198600            199008
77             198600            199008
78             198600            199109
79             198600            199301
80             198600            199301
81             198600            199310
82             198600            199702
83             198600            199702
84             198600            200900
92             198800            198903
109            198800            198903
93             198800            199008
94             198800            199008
110            198800            199008
111            198800            199008
95             198800            199109
112            198800            199109
96             198800            199301
97             198800            199301
113            198800            199301
114            198800            199301
98             198800            199310
115            198800            199310
99             198800            199702
100            198800            199702
116            198800            199702
117            198800            199702
101            198800            200900
118            198800            200900
127            198903            199008
128            198903            199008
129            198903            199109
130            198903            199301
131            198903            199301
132            198903            199310
133            198903            199702
134            198903            199702
135            198903            200900
146            199008            199109
163            199008            199109
147            199008            199301
148            199008            199301
164            199008            199301
165            199008            199301
149            199008            199310
166            199008            199310
150            199008            199702
151            199008            199702
167            199008            199702
168            199008            199702
152            199008            200900
169            199008            200900
181            199109            199301
182            199109            199301
183            199109            199310
184            199109            199702
185            199109            199702
186            199109            200900
200            199301            199310
217            199301            199310
201            199301            199702
202            199301            199702
218            199301            199702
219            199301            199702
203            199301            200900
220            199301            200900
235            199310            199702
236            199310            199702
237            199310            200900
254            199702            200900
271            199702            200900

In [155]:
mindate = dates.groupby("CareerStartDate_1",as_index=False).agg({"CareerStartDate_2":"min"})
mindate.shape

(11, 2)

In [156]:
mindate

   CareerStartDate_1 CareerStartDate_2
0             196100            197300
1             197300            197505
2             197505            198600
3             198600            198800
4             198800            198903
5             198903            199008
6             199008            199109
7             199109            199301
8             199301            199310
9             199310            199702
10            199702            200900

In [157]:
mindate.columns = ["CareerStartDate_1","CareerStartDate_2_min"]

In [158]:
tr2 = tr.merge(mindate,on="CareerStartDate_1",how="left")
tr2.shape

(131, 34)

In [159]:
tr3 = tr2[tr2.apply(lambda x: x["CareerStartDate_2"] == x["CareerStartDate_2_min"],axis=1)]
tr3.shape

(21, 34)

In [160]:
tr3

,LeaderID,CareerString_1,CareerDateString_2022_1,IsJob_1,MultipleSubstrings_1,CareerStartYear_1,CareerStartMonth_1,CareerSubstring_1,OrgString_1,PrimaryInstitution_1,...,OrgString_2,PrimaryInstitution_2,OrgName_2,Position_2,Notes_2,IsElected_2,PositionRank_2,OrgRank_2,CareerStartDate_2,CareerStartDate_2_min
0,강관주,1961. 체육과학연구소 연구원,NaN,True,1,1961,NaN,NaN,체육과학연구소,체육연구원,...,만경대예술단 섭외부,평양만경대예술단,섭외부,부부장,NaN,NaN,NaN,NaN,197300,197300
1,강관주,1961. 체육과학연구소 연구원,NaN,True,1,1961,NaN,NaN,체육과학연구소,체육연구원,...,당 문화부,노동당,문화예술부,과장,NaN,NaN,NaN,NaN,197300,197300
16,강관주,"1973. 만경대예술단 섭외부 부부장, 당 문화부 과장",NaN,True,2,1973,NaN,만경대예술단 섭외부 부부장,만경대예술단 섭외부,평양만경대예술단,...,대외문화연락협회,조선대외문화연락협회,NaN,국장,NaN,NaN,NaN,NaN,197505,197505
17,강관주,"1973. 만경대예술단 섭외부 부부장, 당 문화부 과장",NaN,True,2,1973,NaN,당 문화부 과장,당 문화부,노동당,...,대외문화연락협회,조선대외문화연락협회,NaN,국장,NaN,NaN,NaN,NaN,197505,197505
44,강관주,1975. 5 대외문화연락협회 국장,NaN,True,1,1975,5,NaN,대외문화연락협회,조선대외문화연락협회,...,노동당 조직지도부,노동당,당중앙위원회_조직지도부,부부장,NaN,NaN,NaN,NaN,198600,198600
57,강관주,1986. 당 조직지도부 부부장,NaN,True,1,1986,NaN,NaN,노동당 조직지도부,노동당,...,노동당 중앙위원회 통일전선부,노동당,당중앙위원회_통일전선부_문화교류국,부부장,NaN,NaN,NaN,NaN,198800,198800
58,강관주,1986. 당 조직지도부 부부장,NaN,True,1,1986,NaN,NaN,노동당 조직지도부,노동당,...,조선노동당 통일전선부,노동당,당중앙위원회_통일전선부,부부장,NaN,NaN,NaN,NaN,198800,198800
69,강관주,1988. 당 통일전선부 #조총련# 담당 부부장,NaN,True,1,1988,NaN,NaN,노동당 중앙위원회 통일전선부,노동당,...,조선노동당 통일전선부 제1부,노동당,당중앙위원회_통일전선부,부장,NaN,NaN,NaN,NaN,198903,198903
70,강관주,조선노동당 통일전선부 조선인총연합회 담당 부부장,1988,True,1,1988,NaN,NaN,조선노동당 통일전선부,노동당,...,조선노동당 통일전선부 제1부,노동당,당중앙위원회_통일전선부,부장,NaN,NaN,NaN,NaN,198903,198903
89,강관주,조선노동당 통일전선부 제1부부장,1989.03,True,1,1989,3,NaN,조선노동당 통일전선부 제1부,노동당,...,조국통일평화위원회,정무원,조국평화통일위원회,부위원장,NaN,NaN,NaN,NaN,199008,199008
90,강관주,조선노동당 통일전선부 제1부부장,1989.03,True,1,1989,3,NaN,조선노동당 통일전선부 제1부,노동당,...,조국평화통일위원회,내각,조국평화통일위원회,부위원장,NaN,NaN,NaN,NaN,199008,199008
98,강관주,조국평화통일위원회 부위원장,1990.08,True,1,1990,8,NaN,조국통일평화위원회,정무원,...,보전보전자악단,보천보전자악단,NaN,고문,NaN,NaN,NaN,NaN,199109,199109
99,강관주,1990. 8 조국평화통일위원회 부위원장,NaN,True,1,1990,8,NaN,조국평화통일위원회,내각,...,보전보전자악단,보천보전자악단,NaN,고문,NaN,NaN,NaN,NaN,199109,199109
112,강관주,1991. 9 보천보전자악단 고문,NaN,True,1,1991,9,NaN,보전보전자악단,보천보전자악단,...,조선노동당 통일전선부,노동당,당중앙위원회_통일전선부,부장,NaN,NaN,NaN,NaN,199301,199301
113,강관주,1991. 9 보천보전자악단 고문,NaN,True,1,1991,9,NaN,보전보전자악단,보천보전자악단,...,노동당 중앙위원회 통일전선부,노동당,당중앙위원회_통일전선부_문화교류국,부장,NaN,NaN,NaN,NaN,199301,199301
118,강관주,조선노동당 통일전선부 부장,1993.01,True,1,1993,1,NaN,조선노동당 통일전선부,노동당,...,해외동포원호위원회,조선해외동포원호위원회,NaN,위원장,NaN,NaN,NaN,NaN,199310,199310
119,강관주,1993. 1 당 통일전선부 부장,NaN,True,1,1993,1,NaN,노동당 중앙위원회 통일전선부,노동당,...,해외동포원호위원회,조선해외동포원호위원회,NaN,위원장,NaN,NaN,NaN,NaN,199310,199310
126,강관주,1993.10 해외동포원호위원회 위원장,NaN,True,1,1993,10,NaN,해외동포원호위원회,조선해외동포원호위원회,...,노동당 대외연락부 사회문화부,노동당,당중앙위원회_대외연락부_사회문화부,부장,NaN,NaN,NaN,NaN,199702,199702
127,강관주,1993.10 해외동포원호위원회 위원장,NaN,True,1,1993,10,NaN,해외동포원호위원회,조선해외동포원호위원회,...,조선노동당 대외연락부,노동당,당중앙위원회_대외연락부,부장,NaN,NaN,NaN,NaN,199702,199702
129,강관주,1997. 2 당 대외연락부(舊 사회문화부) 부장,NaN,True,1,1997,2,NaN,노동당 대외연락부 사회문화부,노동당,...,내각 225국,내각,225국,국장,NaN,NaN,NaN,NaN,200900,200900
130,강관주,조선노동당 대외연락부(구 사회문화부) 부장,1997.02,True,1,1997,2,NaN,조선노동당 대외연락부,노동당,...,내각 225국,내각,225국,국장,NaN,NaN,NaN,NaN,200900,200900

In [161]:
some_columns = ["LeaderID","CareerStartDate_1","PrimaryInstitution_1","OrgName_1","Position_1","CareerStartDate_2","PrimaryInstitution_2","OrgName_2","Position_2"]
tr3[some_columns]

,LeaderID,CareerStartDate_1,PrimaryInstitution_1,OrgName_1,Position_1,CareerStartDate_2,PrimaryInstitution_2,OrgName_2,Position_2
0,강관주,196100,체육연구원,체육과학연구소,연구원,197300,평양만경대예술단,섭외부,부부장
1,강관주,196100,체육연구원,체육과학연구소,연구원,197300,노동당,문화예술부,과장
16,강관주,197300,평양만경대예술단,섭외부,부부장,197505,조선대외문화연락협회,NaN,국장
17,강관주,197300,노동당,문화예술부,과장,197505,조선대외문화연락협회,NaN,국장
44,강관주,197505,조선대외문화연락협회,NaN,국장,198600,노동당,당중앙위원회_조직지도부,부부장
57,강관주,198600,노동당,당중앙위원회_조직지도부,부부장,198800,노동당,당중앙위원회_통일전선부_문화교류국,부부장
58,강관주,198600,노동당,당중앙위원회_조직지도부,부부장,198800,노동당,당중앙위원회_통일전선부,부부장
69,강관주,198800,노동당,당중앙위원회_통일전선부_문화교류국,부부장,198903,노동당,당중앙위원회_통일전선부,부장
70,강관주,198800,노동당,당중앙위원회_통일전선부,부부장,198903,노동당,당중앙위원회_통일전선부,부장
89,강관주,198903,노동당,당중앙위원회_통일전선부,부장,199008,정무원,조국평화통일위원회,부위원장
90,강관주,198903,노동당,당중앙위원회_통일전선부,부장,199008,내각,조국평화통일위원회,부위원장
98,강관주,199008,정무원,조국평화통일위원회,부위원장,199109,보천보전자악단,NaN,고문
99,강관주,199008,내각,조국평화통일위원회,부위원장,199109,보천보전자악단,NaN,고문
112,강관주,199109,보천보전자악단,NaN,고문,199301,노동당,당중앙위원회_통일전선부,부장
113,강관주,199109,보천보전자악단,NaN,고문,199301,노동당,당중앙위원회_통일전선부_문화교류국,부장
118,강관주,199301,노동당,당중앙위원회_통일전선부,부장,199310,조선해외동포원호위원회,NaN,위원장
119,강관주,199301,노동당,당중앙위원회_통일전선부_문화교류국,부장,199310,조선해외동포원호위원회,NaN,위원장
126,강관주,199310,조선해외동포원호위원회,NaN,위원장,199702,노동당,당중앙위원회_대외연락부_사회문화부,부장
127,강관주,199310,조선해외동포원호위원회,NaN,위원장,199702,노동당,당중앙위원회_대외연락부,부장
129,강관주,199702,노동당,당중앙위원회_대외연락부_사회문화부,부장,200900,내각,225국,국장
130,강관주,199702,노동당,당중앙위원회_대외연락부,부장,200900,내각,225국,국장

# 3. export new query

In [56]:
# refresh leaderjobtransition with new data
ljt_new.to_excel(path_tables + filename_careers,index=False)

NameError: name 'ljt_new' is not defined